import package

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

import data yang diperlukan

In [3]:
ga = pd.read_csv('data/Admission_Predict.csv')
ga.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

liat info datanya

In [4]:
ga.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 9 columns):
Serial No.           400 non-null int64
GRE Score            400 non-null int64
TOEFL Score          400 non-null int64
University Rating    400 non-null int64
SOP                  400 non-null float64
LOR                  400 non-null float64
CGPA                 400 non-null float64
Research             400 non-null int64
Chance of Admit      400 non-null float64
dtypes: float64(4), int64(5)
memory usage: 28.2 KB

hapus kolom nomor serial karena ga dibutuhkan

In [6]:
ga_1 = ga.drop(['Serial No.'], axis=1)
ga_1.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65

tentuin fitur (X) dan target(y) nya <br>
target sebagai variabel terikat

In [7]:
# Fitur (X), Kontinues
X = ga_1.drop(['Research'], axis =1)
# Target (y), Kategorikal
y = ga_1['Research']

bagi data menjadi data training dan testing

In [15]:
# import package buat bagi data
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=45)

parameter random_state yang memungkinkan kita untuk menge-set random generator seed (seperti yang telah dijelaskan sebelumnya).

liat shapenya

In [16]:
# Data Training
print("Shape Data Training :",X_train.shape)
# Data Testing
print("Shape Data Testing :",X_test.shape)

Shape Data Training : (320, 7)
Shape Data Testing : (80, 7)

import library dan buat functionnya

In [17]:
from sklearn.linear_model import LogisticRegression

cls = LogisticRegression()
cls

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

fit data trainingnya

In [18]:
cls.fit(X_train, y_train)

C:\Users\asus\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

predict data testingnya

In [22]:
pred = cls.predict(X_test)
pred

array([1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1], dtype=int64)

liat akurasi data testingnya

In [21]:
print("Akurasi :",cls.score(X_test, y_test))

Akurasi : 0.725

hitung kesalahan berdasarkan Mean Squared Errornya

In [23]:
from sklearn.metrics import mean_squared_error

print("Mean Squared Error :", mean_squared_error(y_test, pred))

Mean Squared Error : 0.275